asn1crypto==0.24.0
attrs==21.4.0
awscli==1.16.20
botocore==1.12.10
certifi==2018.11.29
charset-normalizer==2.0.12
colorama==0.3.9
Deprecated==1.2.13
distlib==0.3.6
docutils==0.19
filelock==3.8.0
idna==3.3
importlib-resources==5.7.1
jmespath==0.10.0
jsonschema==4.4.0
pipenv==2022.10.25
platformdirs==2.5.2
pyasn1==0.4.8
pycparser==2.19
pymisp==2.4.162
pyrsistent==0.18.1
python-dateutil==2.8.2
PyYAML==3.13
requests==2.27.1
requests-futures==1.0.0
rsa==3.4.2
s3transfer==0.1.13
six==1.16.0
urllib3==1.24.2
virtualenv==20.16.6
virtualenv-clone==0.5.7
wrapt==1.14.0
zipp==3.8.0
