asn1crypto
attrs
azure-functions
azure-identity
awscli==1.16.20
botocore==1.12.10
certifi
cffi
chardet==3.0.4
charset-normalizer
colorama
cryptography==2.4.2
Deprecated
distlib
filelock
idna
importlib-resources
jmespath
jsonschema
pipenv
platformdirs
pyasn1
pycparser
pyOpenSSL==18.0.0
PySocks==1.6.8
pymisp
pyrsistent
python-dateutil
PyYAML
requests
requests-futures
rsa
six
urllib3
virtualenv
virtualenv-clone
wrapt